@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="justify-content-start top-row bg-primary bg-gradient">
            <NavMenu />
        </div>
        <article class="content px-5">
            @Body
        </article>
    </main>
</div>