@inherits LayoutComponentBase
<div class="page">
    <main>
        <header class="top-row sticky-top container-fluid bg-primary bg-gradient">
            <NavMenu />
        </header>
        <article class="content px-5 h-100">
            @Body
        </article>
    </main>
</div>