<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid">
        <a class="text-white logotext px-3 text-decoration-none" href="">sprotyv-map</a>

        <button class="navbar-toggler" @onclick=ToggleNavMenu type="button" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="@NavMenuCssClass navbar-collapse nav-scrollable" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <NavLink class="nav-link px-3 text-white text-decoration-none" href="" Match="NavLinkMatch.All">
                    <span class="material-symbols-outlined bi align-middle">Map</span>
                    <span class="align-text-top">Мапа</span>
                </NavLink>
                <NavLink class="nav-link px-3 text-white text-decoration-none" href="about">
                    <span class="material-symbols-outlined bi align-middle">Info</span>
                    <span class="align-text-top">Про сайт</span>
                </NavLink>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : "";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}