<div class="ps-3 navbar navbar-light navbar-expand">
    <div class="container-fluid">
        <a class="text-white logotext px-3 text-decoration-none" href="">sprotyv-map</a>
        <div class="collapse navbar-collapse nav-scrollable h-25">
            <NavLink class="nav-item px-3 text-white" href="" Match="NavLinkMatch.All">
                <span class="material-symbols-outlined bi align-middle">Map</span>
                <span class="align-text-top">Мапа</span>
            </NavLink>
            <NavLink class="nav-item px-3 text-white" href="about">
                <span class="material-symbols-outlined bi align-middle">Info</span>
                <span class="align-text-top">Про сайт</span>
            </NavLink>
        </div>
    </div>
</div>