@page "/about"

<PageTitle>Про сайт | sprotyv-map</PageTitle>

<section id="site">
    <h2 class="card-header">Про сайт</h2>
    <div class="card d-block px-4">
        <p class="m-4">
            Сайт призначений для пошуку найближчих ТЦК та СП у вашій місцевості. Якщо бачите неточності - повідомте розробнику. Система автоматизована тому є можливість збоїв.
            <br /> <br />
            Ідея про створення сайту з'явилася на тлі повномасштабного вторгнення <del>свинособак</del> рф в Україну.
            <br />
            Спочатку було розроблено <a href="www.github.com/WhatTheTea/sprotyvmap-api">sprotyvmap-api</a> у рамках курсового проєкту та пробна сторінка, яку не було опубліковано.
            Згодом <a href="www.github.com/WhatTheTea/sprotyvmap-api">sprotyvmap-api</a> було покладено в основу цього вебсервісу, який у свою чергу став предметом дипломного проєкту.
        </p>
    </div>
</section>

<section id="principle">
    <h2 class="card-header">Як це працює?</h2>
    <div class="card d-flex px-4 h-100 justify-content-center align-items-center">
        <img class="m-4" style="width: 70%;" src="images/howdoestitworks.svg" />
    </div>
</section>

<section id="contact">
    <h2 class="card-header">Зв'язок</h2>
    <div class="card px-4">
        <p class="m-4">
            Автор: Олексій "WhatTheTea" Сільченко <br />
            Репозиторій проєкту: <a href="http://www.github.com/WhatTheTea/sprotyvmap">GitHub</a>
            <br /> <br />
            Telegram: <a href="http://t.me/WhatTheTea">@@WhatTheTea</a> <br />
            e-mail: <a href="mailto:silchenko.whatthetea@gmail.com">silchenko.whatthetea@gmail.com</a>
        </p>
    </div>
</section>