@page "/"
@using BlazorLeaflet
@using System.Drawing
@using BlazorLeaflet.Models
@inject IJSRuntime jsRuntime

<PageTitle>Мапа ТЦК та СП | sprotyv-map</PageTitle>

<div id="mapContainer" style="width: 500px; height: 500px;">
    <LeafletMap Map="_map" InitialZoom="4" InitialPosition="_startPoint"/>
</div>

@code {
    private Map _map;
    private PointF _startPoint = new(50.448847f, 30.521626f);

    protected override Task OnInitializedAsync()
    {
        _map = new Map(jsRuntime);
        _map.Layers.Add(new TileLayer
            {
                UrlTemplate = "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                Attribution = "&copy; <a href=\"https://www.openstreetmap.org/copyright\">OpenStreetMap</a> contributors",
            });
        _map.Layers.Add(new Marker(50.311187f, 34.900628f));
        return base.OnInitializedAsync();
    }
}