@font-face{
    font-family: 'capture-it';
    src: url('../fonts/capture.ttf') format('truetype');
}

.logotext{
    font-size: 32px;
    font-family: capture-it;
}

.navtext{
    font-size: medium;
}
